/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define LDFLT 0
#define LNAVI 1
#define LOPTS 2
#define LDANG 3

/ {
  combos {
      compatible = "zmk,combos";
      combo_danger_layer_left_side {
          timeout-ms = <50>;
          key-positions = <51 52 53 54>;
          bindings = <&mo LDANG>;
      };
      combo_danger_layer_right_side {
          timeout-ms = <50>;
          key-positions = <55 56 57 58>;
          bindings = <&mo LDANG>;
      };
  };

  behaviors {
      tdsc: tap_dance_shift_caps {
          compatible = "zmk,behavior-tap-dance";
          label = "TAP_DANCE_SHIFT_CAPS";
          #binding-cells = <0>;
          tapping-term-ms = <150>;
          bindings = <&kp LSHIFT>, <&caps_word>;
      };
      tdrbp: tap_dance_right_bracket_parenthesis {
          compatible = "zmk,behavior-tap-dance";
          label = "TAP_DANCE_RIGHT_BRACKET_PARENTHESIS";
          #binding-cells = <0>;
          tapping-term-ms = <150>;
          bindings = <&kp RBKT>, <&kp RPAR>;
      };
      tdlbp: tap_dance_left_bracket_parenthesis {
          compatible = "zmk,behavior-tap-dance";
          label = "TAP_DANCE_LEFT_BRACKET_PARENTHESIS";
          #binding-cells = <0>;
          tapping-term-ms = <150>;
          bindings = <&kp LBKT>, <&kp LPAR>;
      };
      tdem: tap_dance_equal_minus {
          compatible = "zmk,behavior-tap-dance";
          label = "TAP_DANCE_EQUAL_MINUS";
          #binding-cells = <0>;
          tapping-term-ms = <150>;
          bindings = <&kp EQUAL>, <&kp MINUS>;
      };
  };

  keymap {
    compatible = "zmk,keymap";

// ◆ LDFLT Default layer
// ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────▄──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
// │ ESC~         │ 1            │ 2            │ 3            │ 4            │ 5            │              █              │ 6            │ 7            │ 8            │ 9            │ 0            │ TD_EM        │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │ TAB          │ Q            │ W            │ E            │ R            │ T            │              █              │ Y            │ U            │ I            │ O            │ P            │ \            │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │ CTRL         │ A            │ S            │ D            │ F            │ G            │              █              │ H            │ H            │ K            │ L            │ ;            │ '            │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │ TD_SC        │ Z            │ X            │ C            │ V            │ B            │ TD_RBP       █ TD_LBP       │ N            │ M            │ ,            │ .            │ /            │ SHIFT        │
// ├──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┴──────────────┴──────────────┤
// │                                            │ LGUI         │ LALT         │ MO.OPTS      │ SPACE.LNAV   █ ENTER        │ BKSPACE      │ LALT         │ LCTRL        │                                            │
// └────────────────────────────────────────────┴──────────────┴──────────────┴──────────────┴──────────────▀──────────────┴──────────────┴──────────────┴──────────────┴────────────────────────────────────────────┘
    default_layer {
      bindings = <
        &gresc    &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                    /**/         &kp N6   &kp N7   &kp N8    &kp N9  &kp N0   &tdem
        &kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                     /**/         &kp Y    &kp U    &kp I     &kp O   &kp P    &kp BSLH
        &kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                     /**/         &kp H    &kp J    &kp K     &kp L   &kp SEMI &kp SQT
        &tdsc     &kp Z  &kp X  &kp C    &kp V    &kp B     &tdlbp          /**/ &tdrbp  &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
                                &kp LGUI &kp LALT &mo LOPTS &lt LNAVI SPACE /**/ &kp RET &kp BSPC &kp RALT &kp RCTRL
      >;
    };

// ◆ LNAVI Navigation layer
// ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────▄──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
// │ `            │ F1           │ F2           │ F3           │ F4           │ F5           │              █              │              │              │              │ -            │ =            │ -            │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │ F6           │ F7           │ F8           │ F9           │ F10          │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │ CAPSWORD     │ F11          │ F12          │              │              │              │              █              │ ←            │ ↓            │ ↑            │ →            │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │ (            █ )            │              │              │              │              │              │              │
// ├──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┴──────────────┴──────────────┤
// │                                            │              │              │              │ SPACE        █              │ DELETE       │              │              │                                            │
// └────────────────────────────────────────────┴──────────────┴──────────────┴──────────────┴──────────────▀──────────────┴──────────────┴──────────────┴──────────────┴────────────────────────────────────────────┘
    navigation_layer {
      bindings = <
        &kp GRAVE  &kp F1  &kp F2   &kp F3   &kp F4   &kp F5            /**/          &trans   &trans   &trans &kp MINUS &kp EQUAL &kp MINUS
        &trans     &kp F6  &kp F7   &kp F8   &kp F9   &kp F10           /**/          &trans   &trans   &trans &trans    &trans    &trans
        &caps_word &kp F11 &kp F12  &trans   &trans   &trans            /**/          &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans    &trans
        &trans     &trans  &trans   &trans   &trans   &trans  &kp LPAR  /**/ &kp RPAR &trans   &trans   &trans &trans    &trans    &trans
                                    &trans   &trans   &trans  &kp SPACE /**/ &trans   &kp DEL  &trans   &trans
      >;
    };

// ◆ LOPTS Options layer
// ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────▄──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
// │ BT_CLEAR     │ BT_0         │ BT_1         │ BT_2         │ BT_3         │ BT_4         │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┴──────────────┴──────────────┤
// │                                            │              │              │              │              █              │              │              │              │                                            │
// └────────────────────────────────────────────┴──────────────┴──────────────┴──────────────┴──────────────▀──────────────┴──────────────┴──────────────┴──────────────┴────────────────────────────────────────────┘
    options_layer {
      bindings = <
        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       /**/       &none &none &none &none &none &none
        &none      &none        &none        &none        &none        &none              /**/       &none &none &none &none &none &none
        &none      &none        &none        &none        &none        &none              /**/       &none &none &none &none &none &none
        &none      &none        &none        &none        &none        &none        &none /**/ &none &none &none &none &none &none &none
                                             &none        &none        &none        &none /**/ &none &none &none &none
      >;
    };

// ◆ LDANG Danger layer
// ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────▄──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
// │ RESET        │              │              │              │              │ BOOTLOADER   │              █              │ BOOTLOADER   │              │              │              │              │ RESET        │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┴──────────────┴──────────────┤
// │                                            │              │              │              │              █              │              │              │              │                                            │
// └────────────────────────────────────────────┴──────────────┴──────────────┴──────────────┴──────────────▀──────────────┴──────────────┴──────────────┴──────────────┴────────────────────────────────────────────┘
    danger_layer {
      bindings = <
        &reset &none &none &none &none &bootloader       /**/       &bootloader &none &none &none &none &reset
        &none  &none &none &none &none &none             /**/       &none       &none &none &none &none &none
        &none  &none &none &none &none &none             /**/       &none       &none &none &none &none &none
        &none  &none &none &none &none &none       &none /**/ &none &none       &none &none &none &none &none
                           &none &none &none       &none /**/ &none &none       &none &none
      >;
    };
  };
};

// ◆ Template
// ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────▄──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤              █              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
// │              │              │              │              │              │              │              █              │              │              │              │              │              │              │
// ├──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼──────────────█──────────────┼──────────────┼──────────────┼──────────────┼──────────────┴──────────────┴──────────────┤
// │                                            │              │              │              │              █              │              │              │              │                                            │
// └────────────────────────────────────────────┴──────────────┴──────────────┴──────────────┴──────────────▀──────────────┴──────────────┴──────────────┴──────────────┴────────────────────────────────────────────┘

// vim:ft=c
